{% load static %}
<div class="row">
    <div class="col-md-3 mt-3 bg-light p-4">
        <h4>Filter by category</h4>
        <hr>
        <p><a href="/home" class="anchor">All</a></p>
        <p><a href="/catfilter/1" class="anchor">mobile</a></p>
        <p><a href="/catfilter/2" class="anchor">shoes</a></p>
        <p><a href="/catfilter/3" class="anchor">headphones</a></p>

        <button class="dropdown-btn">Filter by Price
            <i class="fa fa-caret-down"></i>
          </button>
          <hr>
        <form method="GET" action="/range">
          {% csrf_token %}
          <div class="dropdown-container">
                <div class="mb-3">
                    <label for="input1" class="form-label">Min:</label>
                    <input type="number" class="form-control" id="input1" name="umin" placeholder="min price">
                </div>
                <div class="mb-3">
                    <label for="input2" class="form-label">Max:</label>
                    <input type="number" class="form-control" id="input2" name="umax" placeholder="max price">
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-success" value="search">
                </div>
            </div>   
        </form>
            
    </div>

        
