                                                                                                                                         {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <link rel="stylesheet" href="static/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


</head>
<body>

    <script src="static/static/js/bootstrap.min.js"></script>
    <script src="static/static/js/popper.js"></script>
    
   

<div class="row">
    <div class="col-md-4 bg-danger-subtle p-3">
      <h4>Address</h4>
      <hr>
        Flat no-A-806 Essencia Heights, <br>
        Survey No.16/7, New, Baner-Mahalunge Rd, <br>
        near Orchid Hotel and Balewadi Stadium,<br>
        Pune, Maharashtra 411045

    </div>


    <div class="col-md-4 bg-danger-subtle p-3">
      <h4>Quick Links</h4>
      <hr>
        <a href="/home" class="anchor"><strong>Home <i class="bi bi-house-door-fill"></i></strong></a><br>
        <a href="/contact"class="anchor"><strong>Contact <i class="bi bi-chat-left-dots-fill"></i></i></strong></a><br>
        <a href="/about"class="anchor"><strong>About <i class="bi bi-clipboard-data-fill"></i></strong></a><br>
    
    </div>

    <div class="col-md-4 bg-danger-subtle p-3">
      <h4>Connect Us</h4> 
      <hr>
      <h5 class="social"><a href="https://wwww.facebook.com" target="_blank"><i class="bi bi-facebook"></i></a></h5> 
      <h5 class="social"><a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a></h5>
      <h5 class="social"><a href="https://www.instagram.com/" target="_blank"><i class="bi bi-twitter"></i></a></h5>        
      <h5 class="social"><a href="https://www.linkedin.com/" target="_blank"><i class="bi bi-linkedin"></i></a></h5>   
              
      
        </div>
</div>


</body>
</html>