{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

<div class="row">
  <div class="bg-scroll" style="background-image: url('{{ image_url }}')"></div>
    <div class="col-md-3 mt-3 bg-light p-4">
       <h4>Filter by Price</h4>
        <hr>
        <form method="GET" action="/range">
          {% csrf_token %}
            <div class="mb-3">
                <label for="input1" class="form-label">Min:</label>
                <input type="number" class="form-control" id="input1" name="umin" placeholder="min price">
            </div>

            <div class="mb-3">
                <label for="input2" class="form-label">Max:</label>
                <input type="number" class="form-control" id="input2" name="umax" placeholder="max price">
            </div>

            <div class="mb-3">
                <input type="submit" class="btn btn-success" value="search">
            </div>
        </form>

        <h4 class="mt-2"> sort by Price</h4>
        <hr>
        <p><a href="/sort/1" class="anchor">High to Low</a></p>
        <p><a href="/sort/0" class="anchor">Low to High</a></p>
    </div>

  <div class="col-md-9 mt-3 bg-light p-4">
      <div class="row">
    {% for x in products %}
      <div class="col-md-3">
          <div class="card" style="width: 100%;">
              <a href="/pdetails/{{ x.id }}"><img src="{{ x.pimage.url }}" class="card-img-top" alt="" width="50%" height="100%"></a>
              <div class="card-body">
                <a href="/pdetails/{{ x.id }}"><h5 class="card-title">{{ x.name }}</h5></a>
                <p class="card-text">Rs.{{ x.price }}</p>
                <p>{{x.unit_quantity}}</p>
                {% if x.cat == 1 %}
                  <p class="card-text">Fruits</p>
                {% elif x.cat == 2 %}
                  <p class="card-text">Vegetables</p>
                {% elif x.cat == 3 %}
                  <p class="card-text">Dairy Products</p>
                {% elif x.cat == 4 %}
                  <p class="card-text">Groceries</p>         
                {% else %}
                  <p class="card-text">All</p>
                {% endif %}
        
                <a href="/addtocart/{{x.id}}" class="btn btn-dark">Add to cart </a>
        
              </div>
          </div>
      </div>
    {% endfor %}

      </div>
  </div>

</div>
    
{% endblock 'main' %}