<div class="container box">
    <h2> </h2>
</div>

<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/popper.js"></script>

<div class="container">
    <div class="row mt-5 mx-auto">
        <div class="col-md-4 mt-5  mx-auto shadow">
                <h2 class="mx-auto text-center">User Registration</h2>
                <form method="POST" action="">
                    <div class="mb-3">
                        <label for="Input1" class="form-label"><strong>Username:</strong></strong></label>
                        <input type="email" class="form-control" id="Input1" name="uname" placeholder="name@example.com">
                      </div>

                      <div class="mb-3">
                        <label for="Input2" class="form-label"><strong>Password:</strong></strong></label>
                        <input type="password" class="form-control" id="Input2" name="upass" placeholder="enter password">
                      </div>

                      <div class="mb-3">
                        <label for="Input2" class="form-label"><strong>Confirm Password:</strong></strong></label>
                        <input type="password" class="form-control" id="Input2" name="upass" placeholder="confirm password">
                      </div>
                      <div class="mb-3">
                        <input type="submit" class="btn btn-success" Value="Register">
                      </div>
                </form>
        
     
</body>